<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="conTCC" connectionString="Data Source=Localhost;Initial Catalog=dbTcc;User ID=sa;Password=123456;Integrated Security=False;Persist Security Info=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>